<div class="home-container">

  <header class="header" (mouseenter)="resetMenuTimeout()" (mouseleave)="startMenuTimeout()">
    <div class="header-content">
      <div class="logo">VotAI</div>
      <button class="burger-menu" *ngIf="!isMenuOpen" (click)="toggleMenu()">☰</button>
      <button class="close-menu" *ngIf="isMenuOpen" (click)="toggleMenu()">✕</button>
    </div>
    <nav class="navigation" [class.open]="isMenuOpen">
      <a href="#home" (click)="navigateTo('')">
        Acasă
        <mat-spinner *ngIf="loading.home" diameter="20"></mat-spinner>
      </a>
      <a href="#about" (click)="navigateTo('about')">Despre</a>
      <a href="#features" (click)="navigateTo('features')">Avantaje</a>
      <a href="#signup" (click)="navigateTo('auth')">
        Sign Up
        <mat-spinner *ngIf="loading.signup" diameter="20"></mat-spinner>
      </a>
      <a (click)="scrollToContact()">Contact</a>
    </nav>
  </header>

  <section class="hero-section" id="home">
    <div class="content-box">
      <h1>Transformăm procesul de vot cu Inteligența Artificială</h1>
      <p>Explorează noua modalitate de votare digitală, rapidă și sigură, ghidată de AI.</p>
      <button class="hero-button" (click)="navigateTo('auth')">Începe acum</button>
    </div>
  </section>

  <section class="about-section" id="about">
    <div class="content-box">
      <h2>Despre VotAI</h2>
      <p>VotAI oferă o platformă de votare asistată de inteligența artificială, care asigură acuratețe, securitate și transparență.</p>
    </div>
  </section>


  <section class="features-section" id="features">
    <div class="content-box">
      <h2>Avantajele Votării cu AI <span class="emoji">⬇️</span></h2>
    </div>
    <div class="feature-cards">
      <div class="feature-card">
        <h3>🔒 Securitate Avansată</h3>
        <p>Algoritmii AI protejează datele și asigură confidențialitatea votului.</p>
      </div>
      <div class="feature-card">
        <h3>⚡ Viteză și Eficiență</h3>
        <p>Procesul de votare este optimizat pentru rapiditate și accesibilitate.</p>
      </div>
      <div class="feature-card">
        <h3>📈 Transparență și Acuratețe</h3>
        <p>Rezultatele sunt precise și pot fi validate în timp real.</p>
      </div>
    </div>
  </section>

  <section class="contact-section" id="contact">
    <div class="contact-wrapper">
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2788.87991390865!2d25.580504876115686!3d45.6532332710776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b35bc0e15df997%3A0xfdbbb010711c57e9!2sCaminul%203!5e0!3m2!1sro!2sro!4v1730902597932!5m2!1sro!2sro"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      
      <div class="form-container">
        <div class="form-content">
          <h2>Contact</h2>
          <p>
            <a href="mailto:gabriel.danciu@unitbv.ro">Întrebări/comentarii/sugestii</a>
          </p>
          
          <div class="contact-details">
            <p>CONTACT</p>
            <p>Tel: +40 723 452 871</p>
            <p>Tel: +40 729 562 975</p>
            <p>E-mail: gabriel.brujbeanu&#64;unitbv.ro</p>
            <p>E-mail: g.brujbeanu18&#64;.com</p>
          </div>
          
          <h3>Feedback</h3>
          <form (ngSubmit)="onSubmitContactForm()" #contactForm="ngForm">
            <input 
              type="text" 
              placeholder="Your Name" 
              name="name" 
              [(ngModel)]="feedback.name" 
              required 
              #name="ngModel"
            />
            <div *ngIf="name.invalid && name.touched" class="error">Numele este obligatoriu</div>
          
            <input 
              type="tel" 
              placeholder="Phone" 
              name="phone" 
              [(ngModel)]="feedback.phone" 
              required 
              #phone="ngModel"
            />
            <div *ngIf="phone.invalid && phone.touched" class="error">Telefonul este obligatoriu</div>
          
            <input 
              type="email" 
              placeholder="Email" 
              name="email" 
              [(ngModel)]="feedback.email" 
              required 
              email 
              #email="ngModel"
            />
            <div *ngIf="email.invalid && email.touched" class="error">Email-ul este obligatoriu și trebuie să fie valid</div>
          
            <textarea 
              placeholder="Message" 
              name="message" 
              [(ngModel)]="feedback.message" 
              required 
              #message="ngModel"
            ></textarea>
            <div *ngIf="message.invalid && message.touched" class="error">Mesajul este obligatoriu</div>
          
            <button type="submit" [disabled]="contactForm.invalid || loading.feedback">
              <mat-spinner *ngIf="loading.feedback" diameter="20"></mat-spinner>
              Trimite
            </button>
          </form>
          
        </div>
      </div>
    </div>
  </section>

  
  <section class="reviews-section" id="reviews">
    <div class="content-box">
      <h2>Ce spun utilizatorii noștri</h2>
      <p>Nu trebuie să ne crezi pe cuvânt, iată ce spun clienții noștri:</p>
    </div>

    <div class="reviews-cards">
      <div class="review-card" *ngFor="let review of reviews | slice:0:3">
        <p>"{{ review.feedback }}"</p>
        <p><strong>{{ review.name }}</strong>, {{ review.position }}</p>
        <div class="stars">
          <span *ngFor="let star of [].constructor(review.rating)">★</span>
        </div>
      </div>
    </div>

    <button class="read-more-btn" (click)="navigateTo('reviews')">Vezi mai multe recenzii</button>
  </section>
  
  

  <footer class="footer" #footer>
    <p>&copy; 2024 VotAI. Toate drepturile rezervate.</p>
    <button 
      class="scroll-to-top" 
      *ngIf="!isTop" 
      (click)="scrollToTop()" 
      aria-label="Scroll to top"
    >
      <img 
        [src]="isInFooter ? 'assets/icons/arrow-up-circle.svg' : 'assets/icons/arrow-up-circle-fill.svg'" 
        alt="Scroll to top icon" 
        class="scroll-icon"
      />
    </button>
  </footer>
  

  
  
</div>
