voting/media/
*.env
voting/voting/settings.py
voting/db.sqlite3
voting/__pycache__/
voting/**/*.pyc
voting/staticfiles/
voting/static/
voting/.pytest_cache/
voteappFront/node_modules/
voteappFront/dist/
voteappFront/src/environments/environment.ts
voteappFront/src/environments/environment.prod.ts
voting/*.png
# Ignorare fisiere mari din modelele de recunoastere faciala
voteAppFront/my-voteappFront/src/assets/models/*.pbtxt
voteAppFront/my-voteappFront/src/assets/models/uncompressed/*.weights
voteAppFront/my-voteappFront/src/assets/models/uncompressed/*.pb



