<app-header></app-header>
<div class="page-container">
  <div class="auth-container" [ngClass]="{'dark-mode': darkMode}">
    <h2>🔐 Autentificare</h2>
    <div class="dark-mode-button">
      <button mat-button [class.active]="darkMode" (click)="toggleDarkMode()">
        <mat-icon>brightness_2</mat-icon>
        <span>Dark</span>
      </button>
    </div>

    <form (ngSubmit)="onSubmit()">
   
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [(ngModel)]="email" name="email" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Parolă</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required />
      </mat-form-field>


      <div class="register-link">
        <p>Nu ai deja un cont? <a (click)="navigateToRegister()">Înregistrează-te</a></p>
      </div>
      

     
      <mat-checkbox [(ngModel)]="useIdCardAuth" name="useIdCardAuth" (change)="onIdCardAuthChange()" class="auth-checkbox">
        <span [ngClass]="{'dark-mode-text': darkMode}" class="custom-checkbox-text">Autentificare prin buletin</span>
      </mat-checkbox>

      <div *ngIf="useIdCardAuth">
        <mat-form-field appearance="fill">
          <mat-label>CNP</mat-label>
          <input matInput type="text" [(ngModel)]="cnp" name="cnp" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nume</mat-label>
          <input matInput type="text" [(ngModel)]="lastName" name="lastName" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Prenume</mat-label>
          <input matInput type="text" [(ngModel)]="firstName" name="firstName" required />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Serie</mat-label>
          <input matInput type="text" [(ngModel)]="series" name="series" required />
        </mat-form-field>

  
        <div class="camera-upload-buttons">
          <button mat-raised-button color="accent" class="unified-btn" (click)="openCamera()">📸 Deschide Camera</button>
          <label class="unified-btn upload-btn">
            <input type="file" (change)="onFileUpload($event)" />
            📁 Upload Imagine
          </label>
        </div>

        <div class="image-info">
          <span *ngIf="uploadedImageName">{{ uploadedImageName }}</span>
          <span *ngIf="capturedImage">C.I.</span>
          <button *ngIf="uploadedImageName || capturedImage" mat-raised-button color="warn" (click)="deleteImage()">
            🗑️ Șterge Imagine
          </button>
        </div>

        <div *ngIf="isCameraOpen" class="camera-container">
          <video #video autoplay></video>
          <button mat-icon-button color="warn" class="close-camera-btn" (click)="closeCamera()">❌</button>
          <button mat-raised-button color="primary" (click)="capturePhoto()">Capturează Imagine</button>
        </div>
      </div>

    
      <button mat-raised-button color="primary" type="submit">
        Autentificare
      </button>
      

 
      <div class="forgot-password">
        <a href="http://localhost:8000/accounts/password/reset/">Ai uitat parola?</a>
      </div>
      
    </form>
    <div class="social-login">

      <button mat-raised-button class="google-btn" color="primary" (click)="loginWithGoogle()">
        <i class="fab fa-google"></i> Google
      </button>
      
      <button mat-raised-button class="facebook-btn" color="primary" (click)="loginWithFacebook()">
        <mat-icon>facebook</mat-icon> Facebook
      </button>
  
      <div *ngIf="isLoading" class="loading-spinner">
        <div class="ball"></div>
        <p>Redirecționare în curs...</p>
      </div>
  </div>
</div>
