.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 15px 30px;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 10;

  .header-content {
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .logo {
      font-size: 1.8em;
      color: #00c8ff;
      cursor: pointer;
    }

    .burger-menu, .close-menu {
      font-size: 2em;
      color: #00c8ff;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        color: #33e1ff;
      }
    }
  }

  .navigation {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(28, 31, 38, 0.95);
    padding: 10px 20px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease, opacity 0.3s ease;
    visibility: hidden;
    opacity: 0;

    &.open {
      transform: scaleY(1);
      visibility: visible;
      opacity: 1;
    }

    .menu-item {
      color: #ddd;
      font-size: 1em;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 10px;
      transition: color 0.3s;
      cursor: pointer;

      &:hover {
        color: #00c8ff;
      }
    }
  }
}
