<header class="header" (mouseenter)="resetMenuTimeout()" (mouseleave)="startMenuTimeout()">
  <div class="header-content">
    <div class="logo" (click)="navigateToHome()">VotAI</div>
   
    <button class="burger-menu" *ngIf="!isMenuOpen" (click)="toggleMenu()">☰</button>
    <button class="close-menu" *ngIf="isMenuOpen" (click)="toggleMenu()">✕</button>
  </div>


  <nav class="navigation" [class.open]="isMenuOpen">
    <a (click)="navigateTo('')" class="menu-item">Home</a>
    <a (click)="navigateTo('auth')" class="menu-item">Auth</a>
    <a (click)="navigateTo('voteapp-front')" class="menu-item">Register</a>
    <a (click)="goBack()" class="menu-item">Back</a>
  </nav>
</header>
