<div class="menu-container">
  <h1>Meniu Principal</h1>

  <!-- Daca utilizatorul este logat cu email -->
  <div *ngIf="userEmail">
    <p><strong>Email:</strong> {{ userEmail }}</p>
  </div>

  <!-- Daca utilizatorul este logat cu buletinul -->
  <div *ngIf="userCNP">
    <p><strong>CNP:</strong> {{ userCNP }}</p>
    <p><strong>Nume:</strong> {{ lastName }}</p>
    <p><strong>Prenume:</strong> {{ firstName }}</p>
  </div>
  <ng-template #socialLoginMessage>
    <p>{{ message }}</p>
  </ng-template>
  <button (click)="logout()">Logout</button>
</div>
