<!-- Bibliotecă de iconițe SVG refolosibile -->
<div class="svg-icons" style="display: none;">
  <!-- Icon pentru categoria Anunțuri -->
  <svg id="icon-bullhorn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M12,8H4A2,2 0 0,0 2,10V14A2,2 0 0,0 4,16H5V20A1,1 0 0,0 6,21H8A1,1 0 0,0 9,20V16H12L17,20V4L12,8M21.5,12C21.5,13.71 20.54,15.26 19,16V8C20.53,8.75 21.5,10.3 21.5,12Z" />
  </svg>
  
  <!-- Icon pentru categoria Sisteme de Vot - ADĂUGAT -->
  <svg id="icon-check-square" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M19,3H5A2,2 0 0,0 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M19,19H5V5H19V19M17,17H7V7H17V17M15,15H9V9H15V15M13,11H11V13H13V11Z" />
  </svg>
  
  <!-- Icon pentru categoria Securitate - ADĂUGAT -->
  <svg id="icon-shield-alt" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M12,1L3,5V11C3,16.55 6.84,21.74 12,23C17.16,21.74 21,16.55 21,11V5L12,1M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M17.13,17C15.92,18.85 14.11,20.24 12,20.92C9.89,20.24 8.08,18.85 6.87,17C6.53,16.5 6.24,16 6,15.47C6,13.82 8.71,12.47 12,12.47C15.29,12.47 18,13.79 18,15.47C17.76,16 17.47,16.5 17.13,17Z" />
  </svg>
  
  <!-- Icon pentru categoria Întrebări - ADĂUGAT -->
  <svg id="icon-question-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,17A1,1 0 0,1 11,16A1,1 0 0,1 12,15A1,1 0 0,1 13,16A1,1 0 0,1 12,17M13.07,9.25L12.17,10.17C11.45,10.89 11,11.5 11,13H10V12.5C10,11.39 10.45,10.39 11.17,9.67L12.41,8.41C12.78,8.05 13,7.55 13,7A2,2 0 0,0 11,5A2,2 0 0,0 9,7H8A3,3 0 0,1 11,4A3,3 0 0,1 14,7C14,7.88 13.64,8.67 13.07,9.25Z" />
  </svg>
  
  <!-- Icon pentru categoria Feedback - ADĂUGAT -->
  <svg id="icon-comment-dots" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4A2,2 0 0,0 20,2M6,9H18V11H6M14,14H6V12H14M18,8H6V6H18" />
  </svg>
  
  <!-- Icon pentru categoria Sisteme de Vot - PĂSTRAT DIN ORIGINAL -->
  <svg id="icon-vote" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M18,13L21,16V20A2,2 0 0,1 19,22H5C3.89,22 3,21.1 3,20V16L6,13H6.83L8.83,15H6.78L5,17H19L17.23,15H15.32L17.32,13H18M19,20V19H5V20H19M11.34,15L6.39,10.07C6,9.68 6,9.05 6.39,8.66L12.76,2.29C13.15,1.9 13.78,1.9 14.16,2.29L19.11,7.25C19.5,7.64 19.5,8.27 19.11,8.66L12.75,15C12.36,15.41 11.73,15.41 11.34,15M13.46,4.41L8.5,9.36L12.05,12.9L17,7.95L13.46,4.41Z" />
  </svg>
  
  <!-- Icon pentru categoria Securitate - PĂSTRAT DIN ORIGINAL -->
  <svg id="icon-shield" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M12,1L3,5V11C3,16.55 6.84,21.74 12,23C17.16,21.74 21,16.55 21,11V5L12,1M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M17.13,17C15.92,18.85 14.11,20.24 12,20.92C9.89,20.24 8.08,18.85 6.87,17C6.53,16.5 6.24,16 6,15.47C6,13.82 8.71,12.47 12,12.47C15.29,12.47 18,13.79 18,15.47C17.76,16 17.47,16.5 17.13,17Z" />
  </svg>
  
  <!-- Icon pentru categoria Întrebări - PĂSTRAT DIN ORIGINAL -->
  <svg id="icon-question" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M15.07,11.25L14.17,12.17C13.45,12.89 13,13.5 13,15H11V14.5C11,13.39 11.45,12.39 12.17,11.67L13.41,10.41C13.78,10.05 14,9.55 14,9C14,7.89 13.1,7 12,7A2,2 0 0,0 10,9H8A4,4 0 0,1 12,5A4,4 0 0,1 16,9C16,9.88 15.64,10.67 15.07,11.25M13,19H11V17H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
  </svg>
  
  <!-- Icon pentru categoria Feedback - PĂSTRAT DIN ORIGINAL -->
  <svg id="icon-feedback" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4A2,2 0 0,0 20,2M20,16H6L4,18V4H20" />
  </svg>
  
  <!-- Icon pentru categoria Experiențe -->
  <svg id="icon-user-check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M21.1,12.5L22.5,13.91L15.97,20.5L12.5,17L13.9,15.59L15.97,17.67L21.1,12.5M10,17L3,17V13C3,9.8 7.6,8 10,8C10.4,8 10.8,8.04 11.21,8.11C8.56,9.39 7,11.73 7,13C7,15.21 9.06,16 11,16C11.29,16 11.5,16 11.77,15.93C10.92,16.58 9.2,17 10,17M10,4A4,4 0 0,1 14,8A4,4 0 0,1 10,12A4,4 0 0,1 6,8A4,4 0 0,1 10,4Z" />
  </svg>
  
  <!-- Icon pentru categoria Discuții Generale -->
  <svg id="icon-comments" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M12,23A1,1 0 0,1 11,22V19H7A2,2 0 0,1 5,17V7A2,2 0 0,1 7,5H21A2,2 0 0,1 23,7V17A2,2 0 0,1 21,19H16.9L13.2,22.71C13,22.89 12.76,23 12.5,23H12M3,15H1V3A2,2 0 0,1 3,1H17V3H3V15Z" />
  </svg>
  
  <!-- Icon pentru vizualizări -->
  <svg id="icon-eye" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17M12,4.5C7,4.5 2.73,7.61 1,12C2.73,16.39 7,19.5 12,19.5C17,19.5 21.27,16.39 23,12C21.27,7.61 17,4.5 12,4.5Z" />
  </svg>
  
  <!-- Icon pentru postări -->
  <svg id="icon-message" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M20,2H4A2,2 0 0,0 2,4V22L6,18H20A2,2 0 0,0 22,16V4A2,2 0 0,0 20,2M20,16H6L4,18V4H20" />
  </svg>
  
  <!-- Icon pentru subiecte fixate (pin) -->
  <svg id="icon-pin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z" />
  </svg>
  
  <!-- Icon pentru subiecte închise (lock) -->
  <svg id="icon-lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M12,17A2,2 0 0,0 14,15C14,13.89 13.1,13 12,13A2,2 0 0,0 10,15A2,2 0 0,0 12,17M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V10C4,8.89 4.9,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z" />
  </svg>
  
  <!-- Icon pentru notificări -->
  <svg id="icon-notification" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21" />
  </svg>
  
  <!-- Icon pentru statistici -->
  <svg id="icon-stats" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M3,13H11V3H3M3,21H11V15H3M13,21H21V11H13M13,3V9H21V3" />
  </svg>
  
  <!-- Icon pentru topic recent -->
  <svg id="icon-recent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M13,9H18.5L13,3.5V9M6,2H14L20,8V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V4C4,2.89 4.89,2 6,2M15,18V16H6V18H15M18,14V12H6V14H18Z" />
  </svg>

  <!-- Icon pentru search -->
  <svg id="icon-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path fill="currentColor" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
  </svg>
</div>

<div class="forum-container">
  <!-- Header cu navigare și notificări -->
  <div class="forum-header">
    <div class="forum-title">
      <h1>Forum SmartVote</h1>
      <p>Discuții, întrebări și asistență despre sistemele de vot</p>
    </div>
    
    <div class="forum-actions">
      <div class="search-box">
        <input type="text" [formControl]="searchControl" placeholder="Caută în forum...">
        <button class="btn-search" [class.active]="isSearching">
          <svg viewBox="0 0 24 24" width="20" height="20">
            <use href="#icon-search"></use>
          </svg>
        </button>
        <button *ngIf="isSearching" class="btn-clear" (click)="clearSearch()">
          <span>×</span>
        </button>
      </div>

      <button class="btn-new-topic" (click)="createNewTopic()">
        <i class="fa fa-plus-circle"></i> Subiect nou
      </button>
      
      <ng-container *ngIf="isLoggedIn">
        <button class="btn-notifications" (click)="navigateToNotifications()">
          <svg viewBox="0 0 24 24" width="24" height="24">
            <use href="#icon-notification"></use>
          </svg>
          <span *ngIf="unreadNotifications > 0" class="notification-badge">{{ unreadNotifications }}</span>
        </button>
      </ng-container>
    </div>
  </div>
  
  <!-- Breadcrumbs -->
  <div class="forum-breadcrumbs">
    <a routerLink="/menu">Acasă</a>
    <span class="separator">/</span>
    <a routerLink="/menu/forumuri" class="current">Forum</a>
  </div>
  
  <!-- Rezultate căutare -->
  <div *ngIf="isSearching" class="search-results">
    <div class="search-header">
      <h2>Rezultate pentru: "{{ searchControl.value }}"</h2>
      <button class="btn-close-search" (click)="clearSearch()">
        <span>×</span>
      </button>
    </div>
    
    <div *ngIf="loading.search" class="loading-spinner">
      <div class="spinner"></div>
      <p>Se caută...</p>
    </div>
    
    <div *ngIf="error.search && !loading.search" class="error-message">
      <i class="fa fa-exclamation-triangle"></i>
      <p>Nu s-au putut obține rezultatele căutării. Vă rugăm să încercați din nou.</p>
    </div>
    
    <div *ngIf="!loading.search && !error.search && searchResults">
      <!-- Subiecte găsite -->
      <div *ngIf="searchResults.topics && searchResults.topics.length > 0" class="search-topics">
        <h3>Subiecte găsite ({{ searchResults.topics.length }})</h3>
        <div class="topic-list">
          <div *ngFor="let topic of searchResults.topics" class="topic-item" 
               (click)="navigateToTopic(topic.id, topic.slug)">
            <div class="topic-title">
              <h4>{{ topic.title }}</h4>
              <div class="topic-meta">
                <span class="topic-author">
                  <img [src]="getUserAvatar(topic.author.email)" alt="Avatar" class="author-avatar">
                  {{ topic.author.full_name || topic.author.email }}
                </span>
                <span class="topic-date">{{ getTimeAgo(topic.created_at) }}</span>
              </div>
            </div>
            <div class="topic-stats">
              <div class="stat-item">
                <svg viewBox="0 0 24 24" width="16" height="16">
                  <use href="#icon-eye"></use>
                </svg>
                <span>{{ topic.views_count }}</span>
              </div>
              <div class="stat-item">
                <svg viewBox="0 0 24 24" width="16" height="16">
                  <use href="#icon-message"></use>
                </svg>
                <span>{{ topic.post_count }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Postări găsite -->
      <div *ngIf="searchResults.posts && searchResults.posts.length > 0" class="search-posts">
        <h3>Postări găsite ({{ searchResults.posts.length }})</h3>
        <div class="post-list">
          <div *ngFor="let post of searchResults.posts" class="post-item">
            <div class="post-header">
              <div class="post-author">
                <img [src]="getUserAvatar(post.author.email)" alt="Avatar" class="author-avatar">
                <span>{{ post.author.full_name || post.author.email }}</span>
              </div>
              <div class="post-date">{{ getTimeAgo(post.created_at) }}</div>
            </div>
            <div class="post-content">
              <p>{{ post.content }}</p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Mesaj când nu s-au găsit rezultate -->
      <div *ngIf="(!searchResults.topics || searchResults.topics.length === 0) && 
                 (!searchResults.posts || searchResults.posts.length === 0)" class="no-results">
        <i class="fa fa-search"></i>
        <p>Nu s-au găsit rezultate pentru "{{ searchControl.value }}".</p>
      </div>
    </div>
  </div>
  
  <div class="forum-layout" *ngIf="!isSearching">
    <!-- Secțiunea principală cu categorii -->
    <div class="forum-main">
      <!-- Loading spinner -->
      <div *ngIf="loading.categories" class="loading-spinner">
        <div class="spinner"></div>
        <p>Se încarcă categoriile...</p>
      </div>
      
      <!-- Error state -->
      <div *ngIf="error.categories && !loading.categories" class="error-message">
        <i class="fa fa-exclamation-triangle"></i>
        <p>Nu s-au putut încărca categoriile. Vă rugăm să încercați din nou mai târziu.</p>
        <button class="btn-retry" (click)="loadCategories()">Reîncarcă</button>
      </div>
      
      <!-- Empty state -->
      <div *ngIf="!loading.categories && !error.categories && categories.length === 0" class="empty-state">
        <i class="fa fa-folder-open"></i>
        <p>Nu există categorii disponibile în acest moment.</p>
      </div>
      
      <!-- Lista categoriilor -->
      <div *ngIf="!loading.categories && !error.categories && categories.length > 0" class="forum-categories">
        <div class="category-header">
          <div class="category-name">Categorie</div>
          <div class="category-stats">Subiecte / Postări</div>
          <div class="category-last-post">Ultima activitate</div>
        </div>
        
        <div *ngFor="let category of categories" class="category-item" 
             [style.border-left-color]="category.color || '#3498db'" 
             (click)="navigateToCategory(category.id, category.slug)">
          <div class="category-icon" [style.background-color]="category.color + '22'" [style.color]="category.color">
            <svg viewBox="0 0 24 24" width="24" height="24">
              <use [attr.href]="'#icon-' + (category.icon?.substring(3) || 'comments')"></use>
            </svg>
          </div>
          
          <div class="category-info">
            <h3 class="category-title">{{ category.name }}</h3>
            <p class="category-description">{{ category.description }}</p>
          </div>
          
          <div class="category-stats">
            <div class="stats-item">
              <svg viewBox="0 0 24 24" width="16" height="16">
                <use href="#icon-message"></use>
              </svg>
              <span>{{ category.topic_count }}</span> subiecte
            </div>
            <div class="stats-item">
              <svg viewBox="0 0 24 24" width="16" height="16">
                <use href="#icon-message"></use>
              </svg>
              <span>{{ category.post_count }}</span> postări
            </div>
          </div>
          
          <div class="category-last-post" *ngIf="category.last_topic">
            <div class="last-topic-title">
              {{ category.last_topic.title }}
            </div>
            <div class="last-topic-meta">
              <img [src]="getUserAvatar(category.last_topic.author.email)" alt="Avatar" class="author-avatar-small">
              <span class="author-name">{{ category.last_topic.author.full_name || category.last_topic.author.email }}</span>
              <span class="separator">•</span>
              <span class="last-activity">{{ getTimeAgo(category.last_topic.last_activity) }}</span>
            </div>
          </div>
          
          <div class="category-last-post" *ngIf="!category.last_topic">
            <div class="no-posts">
              Nicio activitate recentă
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Sidebar cu statistici și subiecte recente -->
    <div class="forum-sidebar">
      <!-- Statistici forum -->
      <div class="sidebar-section">
        <div class="section-header">
          <svg viewBox="0 0 24 24" width="20" height="20">
            <use href="#icon-stats"></use>
          </svg>
          <h3>Statistici Forum</h3>
        </div>
        
        <div *ngIf="loading.stats" class="loading-spinner-small">
          <div class="spinner"></div>
        </div>
        
        <div *ngIf="error.stats && !loading.stats" class="error-message-small">
          <p>Nu s-au putut încărca statisticile.</p>
          <button class="btn-retry-small" (click)="loadForumStats()">Reîncarcă</button>
        </div>
        
        <div *ngIf="!loading.stats && !error.stats && forumStats" class="stats-list">
          <div class="stat-row">
            <div class="stat-label">Subiecte</div>
            <div class="stat-value">{{ forumStats.stats.topic_count }}</div>
          </div>
          <div class="stat-row">
            <div class="stat-label">Postări</div>
            <div class="stat-value">{{ forumStats.stats.post_count }}</div>
          </div>
          <div class="stat-row">
            <div class="stat-label">Utilizatori</div>
            <div class="stat-value">{{ forumStats.stats.user_count }}</div>
          </div>
          <div class="stat-row">
            <div class="stat-label">Ultima activitate</div>
            <div class="stat-value">{{ getTimeAgo(forumStats.stats.last_activity) }}</div>
          </div>
        </div>
      </div>
      
      <!-- Subiecte recente -->
      <div class="sidebar-section">
        <div class="section-header">
          <svg viewBox="0 0 24 24" width="20" height="20">
            <use href="#icon-recent"></use>
          </svg>
          <h3>Subiecte Recente</h3>
        </div>
        
        <div *ngIf="loading.stats" class="loading-spinner-small">
          <div class="spinner"></div>
        </div>
        
        <div *ngIf="!loading.stats && !error.stats && recentTopics.length > 0" class="recent-topics">
          <div *ngFor="let topic of recentTopics" class="recent-topic" 
               (click)="navigateToTopic(topic.id, topic.slug)">
            <div class="topic-info">
              <h4 class="topic-title">{{ topic.title }}</h4>
              <div class="topic-meta">
                <img [src]="getUserAvatar(topic.author.email)" alt="Avatar" class="author-avatar-small">
                <span class="author-name">{{ topic.author.full_name || topic.author.email }}</span>
                <span class="separator">•</span>
                <span class="post-date">{{ getTimeAgo(topic.last_activity) }}</span>
              </div>
            </div>
            <div class="topic-count">
              <div class="count-item">
                <svg viewBox="0 0 24 24" width="16" height="16">
                  <use href="#icon-message"></use>
                </svg>
                <span>{{ topic.post_count }}</span>
              </div>
            </div>
          </div>
        </div>
        
        <div *ngIf="!loading.stats && !error.stats && recentTopics.length === 0" class="empty-topics">
          <p>Nu există subiecte recente.</p>
        </div>
      </div>
      
      <!-- Subiecte populare -->
      <div class="sidebar-section">
        <div class="section-header">
          <svg viewBox="0 0 24 24" width="20" height="20">
            <use href="#icon-eye"></use>
          </svg>
          <h3>Subiecte Populare</h3>
        </div>
        
        <div *ngIf="loading.stats" class="loading-spinner-small">
          <div class="spinner"></div>
        </div>
        
        <div *ngIf="!loading.stats && !error.stats && popularTopics.length > 0" class="popular-topics">
          <div *ngFor="let topic of popularTopics" class="popular-topic" 
               (click)="navigateToTopic(topic.id, topic.slug)">
            <div class="topic-info">
              <h4 class="topic-title">{{ topic.title }}</h4>
              <div class="topic-meta">
                <img [src]="getUserAvatar(topic.author.email)" alt="Avatar" class="author-avatar-small">
                <span class="author-name">{{ topic.author.full_name || topic.author.email }}</span>
                <span class="separator">•</span>
                <span class="view-count">
                  <svg viewBox="0 0 24 24" width="14" height="14">
                    <use href="#icon-eye"></use>
                  </svg>
                  {{ topic.views_count }}
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div *ngIf="!loading.stats && !error.stats && popularTopics.length === 0" class="empty-topics">
          <p>Nu există subiecte populare.</p>
        </div>
      </div>
    </div>
  </div>
</div>